html {
  background-color: #310138;
}

.loader__wrapper,
.loading__header,
.rendered__header,
.esport__game {
  margin-top: 1em;
  color: #fff5aa;
}
.esport__wrapper {
  text-align: center;
}

.match {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.match__result {
  color: #fff5aa;
}

.match__result ul{
  list-style-type: none;
  padding: 0;
  font-size: 0.8em;
}

.match img {
  width: 200px;
}

.opponent__one,
.opponent__two {
  text-align: center;
  color: #fff5aa;
}

.opponent__two {
  text-align: center;
}
