.homepage__wrapper {
  text-align: center;
}

.homepage__wrapper p{
  color: whitesmoke;
}

.homepage__wrapper h2{
  color: #a171a7;
}

.information {
  margin-top: 3em;
  display: flex;
  flex-direction: column;
}

.information__introduction {
  margin-bottom: 5em;
}